<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title %> - happymmall电商平台</title>
</head>
<body>
<%= require('html-loader!./layout/nav.html') %>
<%= require('html-loader!./layout/header.html') %>
<div class="w">
    <ul class="keywords-list">
        <li class="keywords-item">
            <a href="./list.html?keyword=手机" class="link" target="_blank">手机</a>
            <a href="./list.html?keyword=数码" class="link" target="_blank">数码</a>
        </li>
        <li class="keywords-item">
            <a href="./list.html?keyword=电脑" class="link" target="_blank">电脑</a>
            <a href="./list.html?keyword=办公配件" class="link" target="_blank">办公配件</a>
        </li>
        <li class="keywords-item">
            <a href="./list.html?keyword=电视" class="link" target="_blank">电视</a>
            <a href="./list.html?keyword=空调" class="link" target="_blank">空调</a>
            <a href="./list.html?keyword=冰箱" class="link" target="_blank">冰箱</a>
            <a href="./list.html?keyword=洗衣机" class="link" target="_blank">洗衣机</a>
        </li>
        <li class="keywords-item">
            <a href="./list.html?keyword=厨卫家电" class="link" target="_blank">厨卫家电</a>
            <a href="./list.html?keyword=小家电" class="link" target="_blank">小家电</a>
        </li>
        <li class="keywords-item">
            <a href="./list.html?keyword=家具" class="link" target="_blank">家具</a>
            <a href="./list.html?keyword=家装" class="link" target="_blank">家装</a>
        </li>
        <li class="keywords-item">
            <a href="./list.html?keyword=个户化妆" class="link" target="_blank">个户化妆</a>
            <a href="./list.html?keyword=清洁用品" class="link" target="_blank">清洁用品</a>
            <a href="./list.html?keyword=纸品" class="link" target="_blank">纸品</a>
        </li>
        <li class="keywords-item">
            <a href="./list.html?keyword=母婴用品" class="link" target="_blank">母婴用品</a>
            <a href="./list.html?keyword=儿童玩具" class="link" target="_blank">儿童玩具</a>
            <a href="./list.html?keyword=童装童鞋" class="link" target="_blank">童装童鞋</a>
        </li>
        <li class="keywords-item">
            <a href="./list.html?keyword=鞋靴" class="link" target="_blank">鞋靴</a>
            <a href="./list.html?keyword=箱包" class="link" target="_blank">箱包</a>
            <a href="./list.html?keyword=钟表" class="link" target="_blank">钟表</a>
            <a href="./list.html?keyword=珠宝" class="link" target="_blank">珠宝</a>
        </li>
        <li class="keywords-item">
            <a href="./list.html?keyword=图书" class="link" target="_blank">图书</a>
            <a href="./list.html?keyword=音像" class="link" target="_blank">音像</a>
            <a href="./list.html?keyword=电子书" class="link" target="_blank">电子书</a>
        </li>
    </ul>
    <div class="banner-con">
        <div class="loading"></div>
    </div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>